{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->
{% block title %}Register{% endblock title %} <!-- ovdje se menja title -->

{% load static %} <!-- uvoizim static fajle -->

{% block styles %}

<link rel="stylesheet" href="{% static 'profiles/css/change-password.css' %}" type="text/css">
{% endblock styles %}

<!-- blok za JS static fajlova -->
{% block scripts %}
{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}

<div class="container">
    <div class="w-50 mx-auto mt-5 bg-dark text-white p-4" style="border-radius: 15px; opacity: 0.8;">
        <img src="{% static 'img/ch-passw.jpg' %}" alt=""  style="border-radius: 15px; opacity: 0.1; width: 100%; height: 300px; ">
    
    <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Stari password -->
            <input type="password" name="old_password" id="id_old_password" class="form-control text-white mt-5" placeholder="Old Password" required />
            {{ form.old_password.errors }}

            <!-- Novi password -->
            <input type="password" name="new_password1" id="id_new_password1" class="form-control text-white mt-5" placeholder="New Password" required />
            {{ form.new_password1.errors }}

            <!-- Potvrda novog passworda -->
            <input type="password" name="new_password2" id="id_new_password2" class="form-control text-white mt-5" placeholder="Confirm Password" required />
            {{ form.new_password2.errors }}

            <button type="submit" class="btn btn-outline-success form-control mt-5">Change Password</button>
        </form>



    </div>
</div>

{% endblock content %}