{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->

{% block title %}Change email{% endblock title %} <!-- ovdje se menja title -->

{% load static %} <!-- uvoizim static fajle -->

{% block styles %}
<link rel="stylesheet" href="{% static 'profiles/css/change-password.css' %}" type="text/css">
{% endblock styles %}

<!-- blok za JS static fajlova -->
{% block scripts %}
{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}

<div class="container mt-5">
    <div class="w-50 mx-auto mt-5 bg-dark text-white p-4" style="border-radius: 15px; opacity: 0.8;">
        <h2 class="text-center">Set a new password</h2>
        <img src="{% static 'img/email.png' %}" alt="" style="border-radius: 15px; opacity: 0.3; width: 100%; height: 300px; ">

        <form method="post">
            
            {% csrf_token %}

            <input class="form-control mb-3 text-white mt-5" name="new_email" type="email" placeholder="New Email" required>

            <button class="btn btn-outline-primary form-control mt-5" type="submit">Submit</button>
        </form>
    </div>
</div>

{%endblock content %}
