<!-- poruka korisniku  da je poslat mail  za reset lozinke -->

{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->
{% load static %} <!-- uvoizim static fajle -->

<!-- blok za css fajlove -->
{% block styles %}
<link rel="stylesheet" href="{% static 'profiles/css/login-register.css' %}" type="text/css">
{% endblock styles %}

{% block title %}Reset password{% endblock title %}<!-- ovdje se menja title -->

<!-- blok za JS static fajlova -->
{% block scripts %}

{% endblock scripts %}


{% block content %}

<div class="container mt-5">

    <div class="w-50 mx-auto mt-5 bg-dark p-5 rounded text-white" style="border-radius: 1rem; opacity: 0.8;">
        <div class="text-center mb-4">
            <img style="border-radius: 1rem; opacity: 0.5;" src="{% static 'img/email.png' %}" alt="Logo"
                class="logo w-50" />
        </div>
        <h2>Email sent!</h2>
        <p>Check your email inbox – you will find instructions for resetting your password there.</p>
        <p>If you do not receive an email, please check your spam folder or try again.</p>
    </div>
</div>




{% endblock content %}