<!-- templates za slanje maila za reset lozinke -->

{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->
{% load static %} <!-- uvoizim static fajle -->

<!-- blok za css fajlove -->
{% block styles %}
<link rel="stylesheet" href="{% static 'profiles/css/login-register.css' %}" type="text/css">
{% endblock styles %}

{% block title %}Reset password{% endblock title %}<!-- ovdje se menja title -->

<!-- blok za JS static fajlova -->
{% block scripts %}

{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}

<div class="container">

    <div class="w-50 mx-auto mt-5 bg-dark p-5 rounded text-white" style="border-radius: 1rem; opacity: 0.8;">
        <div class="text-center mb-4">
            <img style="border-radius: 1rem; opacity: 0.5;" src="{% static 'img/email.png' %}" alt="Logo" class="logo w-50" />
        </div>
        <h2 class="" aria-hidden="true">Reset password for your account</h2>
       <p>Please enter your email address to reset your account.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group w-80 mx-auto m-5">
                <input type="email" name="email" class="form-control text-white text-start bg-dark border-top-0 border-end-0 border-start-0 " placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn btn-outline-primary form-control">Send email</button>
        </form>
    </div>
</div>
{% endblock content%}