/* change-password.css */
body {
  background-image: url("/static/img/logo.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Svi .form-control inputi dobiju samo donju crtu */
input.form-control {
  border: none; /* briše sve strane */
  border-bottom: 2px solid white; /* ostaje samo donja crta */
  border-radius: 0; /* bez zaobljenja */
  background-color: transparent; /* nema pozadinu */
  outline: none; /* briše default outline */
}

/* Kad je input u fokusu, crta postane plava */
input.form-control:focus {
  border-bottom: 2px solid #00bfff; /* plava donja crta */
  box-shadow: none; /* briše default box-shadow */
  outline: none; /* briše default outline */
  background-color: transparent; /* i dalje transparentno */
}
