a{
  color: inherit !important;          /* Naslijedi boju teksta roditelja */
  text-decoration: none !important;   /* Ukloni podvlaÄenje */
} 

.index img{
  height: 200px;
}

.default_img{
  height: 140px !important;
}
